@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.button-link {
  text-decoration: none;
  color: black;
}
.button {
  font-size: 24px;
  background-color: #6ba0f4;
  border-radius: 5px;
  padding: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}